<template name="Category">
    <div class="panel panel-info margin-top80">
        <div class="panel-heading"><h3 class="panel-title">Add Product</h3></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">Category Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control"  placeholder="Category Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">Category Code</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id ="code" placeholder="Category Code">
                            <span class="help-block">A code which used for verify product includes: supplier code, category code and product code</span>
                        </div>
                    </div>
                    <div id="imgTest"></div>

                    <div class="form-group">
                    <label  class="col-md-3 control-label">Category Image</label>
                    <div class="col-md-9">
                    {{> uploadForm}}
                    </div>
                    </div>
                    <div class="form-group">
                    <label  class="col-md-3 control-label">Category Image</label>
                    <div class="col-md-9">
                    {{> uploadedFiles}}
                    </div>
                    </div>

                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button id="addCategory" type="submit" class="btn green">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>