<template name="product">
    <div class="panel panel-info margin-top80">
        <div class="panel-heading"><h3 class="panel-title">Add Product</h3></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label  class="col-md-3 control-label">Product Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control"  placeholder="Product Name">
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Product Code</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control"  placeholder="Product Code">
                                <span class="help-block">A code which used for verify product includes: supplier code, category code and product code</span>
                            </div>
                        </div>

                    <!--<div class="form-group">-->
                        <!--<label  class="col-md-3 control-label">Product Image</label>-->
                        <!--<div class="col-md-9">-->
                            <!--{{> uploadForm}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label  class="col-md-3 control-label">Product Image</label>-->
                        <!--<div class="col-md-9">-->
                            <!--{{> uploadedFiles}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Category</label>
                        <div class="col-md-9">
                        <select  class="form-control">
                            <option>Mobile</option>
                        </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions fluid">
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="addProduct" type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>

                        </div>
                    </div>
                </div>
                    <div class="form-actions fluid">
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <figure id="qrcode">
                                </figure>
                            </div>
                        </div>
                    </div>
                


            </div>
            </form>
        </div>
    </div>
</template>

<template name="uploadForm">
    {{#with currentUpload}}
        Uploading <b>{{file.name}}</b>:
        <span id="progress">{{progress.get}}%</span>
    {{else}}
        <input id="fileInput" type="file" />
        <p><small>Upload file in <code>jpeg</code> or <code>png</code> format, with size less or equal to 10MB</small></p>
    {{/with}}
</template>

<template name="uploadedFiles">
    {{#if uploadedFiles.count}}
        <ul>
            {{#each file in uploadedFiles.each}}
                <li>
                    <a href="{{file.link}}?download=true" download="{{file.name}}">{{file.name}}</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <div>No files uploaded, yet</div>
    {{/if}}
</template>
