<template name="message">
    <form class="new-message">
            <div class="modal-dialog" id="chatBox" style="opacity: 0">
                <div class="modal-content" style="float:right;  margin-top: 100px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Chat with us!</h4>
                    </div>
                    <div class="modal-body">
                        <!-- text holder -->
                        <div class="col-md-12" style="align-content: center">
                            <!-- login button -->
                            <!--<div class="panel panel-info">-->
                            <!--<div class="panel-heading">-->
                            <!--GROUP CHAT-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                            <ul class="media-list">
                                <!-- message template -->
                                {{#each messages}}
                                    {{> text}}
                                {{/each}}
                            </ul>
                            <!--</div>-->
                            <!-- message textbox -->

                            <div class="panel-footer">
                                <div class="input-group">
                                    <input type="text" name="text" class="form-control" id="content"
                                           placeholder="Enter Message"/>
                                    <span class="input-group-btn">
                                                <button class="btn btn-info send" id="chat" type="submit">SEND</button>
                                </span>
                                </div>
                            </div>

                            <!--</div>-->
                        </div>
                    </div>
            </div>
        </div>
    </form>
</template>