<template name="text">
    <li class="media">
        <div class="media-body" style="font-size: large !important;">

            {{#if equals user 'system'}}
                <div class="media ">
                    <a class="pull-left" href="#">

                        <!--<img class="media-object img-circle img-responsive" src="https://lorempixel.com/60/60/cats/"/>-->
                        <div class="media-body">
                            {{content}}
                            <br/>
                            <!-- user information -->
                        </div>
                    </a>
                </div>
            {{else}}
                <div class="media">
                    <a class="pull-left" href="#">

                        <!--<img class="media-object img-circle img-responsive" style="text-align: right"
                             src="https://lorempixel.com/60/60/people/"/>-->
                        <div class="media-body well well-large" style="text-align: right; background: #5cb85c; color: black">
                            {{content}}
                            <br/>
                            <!-- user information -->
                            <!--<hr/>-->
                        </div>
                    </a>
                </div>

            {{/if}}

        </div>
    </li>
</template>